<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\ConsoleApplication1\packages.config" />
  <repository path="..\src\ConsoleApplication2\packages.config" />
  <repository path="..\src\JQSelenium.Specs\packages.config" />
  <repository path="..\src\JQSelenium\packages.config" />
  <repository path="..\src\WindowsFormsApplication1\packages.config" />
</repositories>