<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="AcklenAvenue.Testing.ExpectedObjects" version="1.0.0.0" targetFramework="net40" />
  <package id="Castle.Core" version="3.0.0.4001" targetFramework="net40" />
  <package id="DotNetZip" version="1.9.1.8" targetFramework="net40" />
  <package id="ExpectedObjects" version="1.0.0.2" targetFramework="net40" />
  <package id="Machine.Specifications" version="0.5.8" targetFramework="net40" />
  <package id="Moq" version="4.0.10827" targetFramework="net40" />
  <package id="Newtonsoft.Json" version="4.5.10" targetFramework="net40" />
  <package id="Selenium.Support" version="2.25.1" targetFramework="net40" />
  <package id="Selenium.WebDriver" version="2.25.1" targetFramework="net40" />
</packages>